
#### OSX

.DS_Store


#### INTELLIJ

*.iml
app/.idea/workspace.xml
app/.idea/gradle.xml
app/.idea/misc.xml
app/.idea/vcs.xml

app/.gradle/*


#### JAVA

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

