
#### OSX

.DS_Store


#### APP


app/.idea/workspace.xml
app/.idea/gradle.xml
app/.idea/misc.xml
app/.idea/vcs.xml
app/.idea/kotlinc.xml
app/.gradle/*

app/back/build/
app/front/build/


#### IDE

*.iml

#### JAVA

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

